body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .chat-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background: #eee;
    padding: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e4d8ff;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.logo-circle {
  background: #7c5cff;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.title {
  margin-top: 15px;
  font-size: 28px;
  font-weight: bold;
}

.input-group {
  text-align: left;
  margin-top: 20px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  height: 40px;
  margin-top: 6px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  margin-top: 30px;
  padding: 12px;
  background: #6f55ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.link {
  color: #6f55ff;
  cursor: pointer;
}
